/*font-family: 'Poppins', sans-serif;*/

body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background: #f6f6f6;
}

.box {
	width: 340px;
	border-bottom: 20px solid #03a9f4;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.box-heading {
	width: 100%;
	margin: 0;
	padding: 10px 0;
	background: #03a9f4;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.list {
	margin: 0;
	padding: 0;
	position: relative;
	background: #ffffff;
}

.list:hover .list__item {
	/*opacity: .2;*/
}


.list__item {
	width: 100%;
	padding: 10px 0;
	list-style: none;
	background: #ffffff;
	-webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
	box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
	-webkit-transition: transform .5s;
	-moz-transition: transform .5s;
	-ms-transition: transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}

.list__item:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 2;
	background: #25bcff;
	-webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
	color: #ffffff;
	cursor: pointer;
}

.list__item:hover  .list__number {
	background: #ffffff;
	color: #25bcff;
}

.list__number {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 10px;
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);+
	transform: translateY(-2px);
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	background: #25bcff;
	color: #ffffff;

}